#partie-haute {
    width: 100%;
    height: 500px;
    /*background-color: #3498db; /* Couleur de fond pour la partie haute */
    display: grid;
    grid-template-columns: 15% 70% 15%; /* Trois colonnes de largeur égale */
    margin-bottom: 5px;

}
 #partie-haute .div {
     heigth: 100%; width: 100%;
 }
 #partie-1 {
     /*background-color: #6D6D6D; /* Couleur de fond pour les colonnes 1 et 3 */
     display: flex;
     flex-direction: column;
     align-items: center;
}

 #partie-1 a{
     padding: 10px;
     margin-top : 50px;
     margin-bottom: -40px;
     height: 20%;
     width: 70%;
     border-radius: 10px;
     background-color: #ecf0f1;
     display: flex;
     align-items: center;
     justify-content: center;
     color: black;
     text-decoration: none;

 }

 #partie-2-class{
    /*background-color: #A1A1A1; /* Couleur de fond pour la colonne 2 */
     height: 600px;
}

#partie-2 {
    /*background-color: #A1A1A1; /* Couleur de fond pour la colonne 2 */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #5F5F5F;
}
#barre-recherche {
    height: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 10px 0;
    width: 60%;
}
#barre-recherche input {
    width: 60%;
}

#graphique{
    width: 90%;
}


#partie-3 {
    /*background-color: #6D6D6D; /* Couleur de fond pour les colonnes 1 et 3 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#partie-3 div.container_p3 {
    height: 100px;
    width: 70%;
    padding: 10px;
    margin : 10px;
    background-color: #ecf0f1;
    text-align: center;
    border-radius: 10px;
}



#partie-basse {
    height: 50%;
    display: grid;
    grid-template-columns: 60% 40%;
}

#partie-basse #graphe1_canvas{
    width: 100%;
    height: 100%;
    display: flex;
    border: 5px solid #5F5F5F;
    margin-right: 10px;
    /*background-color: #5F5F5F;*/
}

#partie-basse #graphe2_canvas{
    width: 100%;
    height: 100%;
    display: flex;
    border: 5px solid #5F5F5F;
    margin-left: 15px;
    /*background-color: #2E2D2D;*/
}

.graphique_container{
    flex: 1;
    /*background: #ecf0f1; /* Couleur de fond pour la zone du graphique */
    margin: 10px;
    align-items: center;
}
